@font-face {
	font-family: Roboto;
	src: url('../fonts/Roboto-Regular.ttf')
}
body {
    font-size: 87.5%;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
#wrapper {
    width: 800px;
    margin: 0 auto;
}
a.button {
    border: 1px solid #CCC;
    background: #EEE;
    padding: 5px 10px;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}

a.button.selected {
    color: #111;
    font-weight: bold;
    border: 1px solid #AAA;
    background: #BBB;
}

a.button.selected::before {
    content: "\2713\20\20";
}

a:hover {
    cursor: pointer;
}
