@font-face {
	font-family: Roboto;
	src: url('../fonts/Roboto-Regular.ttf')
}
body {
    font-size: 87.5%;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
.main-div {
    margin: 0 auto;
    width: 300px;
    height: auto;
    box-sizing: border-box;
}
.box {
    display: inline-block;
    width: 60px;
    height: 55px;
    box-sizing: border-box;
}